.auth_wrapper {
  .ant-radio-button-wrapper {
    border-radius: 16px !important;
    &::before {
      display: none;
    }
  }
  .sign-up-wrapper {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  .ant-otp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ant-input {
      padding: 20px 0px;
      width: 64px;
    }
    .ant-input-outlined {
      &:hover,
      &:focus {
        border-color: theme("colors.blue2");
      }
    }
  }
}
