:root {
  --blue1: #07b7f8;
  --blue2: #299ec4;
  --blue3: #2970c4;
  --blue4: #2942c4;
  --blue5: #075ff8;
  --gray1: #87909f;
  --gray2: #5d5d5d;
  --orange1: #f89707;
  --green1: #07f8a0;
  --primary-50: #effafc;
  --primary-100: #d6f1f7;
  --primary-200: #b2e2ef;
  --primary-300: #7dcde3;
  --primary-400: #41aecf;
  --primary-500: #299ec4;
  --primary-600: #227598;
  --primary-700: #22607c;
  --primary-800: #244f66;
  --primary-900: #224457;
  --primary-950: #112b3b;
}
