@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.anticon {
  color: theme("colors.primary-blue.50");
}

.ant-radio-button-wrapper {
  height: 40px;
  line-height: 40px;
  &:hover {
    color: theme("colors.primary-blue.200");
  }
}

.ant-radio-button-wrapper-checked,
.ant-btn-primary {
  background: theme("colors.primary-blue.200") !important;
  border-color: theme("colors.primary-blue.200") !important;
}

.ant-btn {
  height: 40px;
}

.ant-btn-default {
  border-color: theme("colors.primary-blue.200") !important;
}

.ant-radio-wrapper-checked {
  .ant-radio-inner {
    background-color: theme("colors.primary-blue.200") !important;
    border-color: theme("colors.primary-blue.200") !important;
  }
}
