// @import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: inherit;
  &:hover {
    color: theme("colors.primary-blue.50") !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

.ant-radio-button-wrapper {
  height: 40px;
  line-height: 40px;
  &:hover {
    color: theme("colors.primary-blue.50");
  }
}

.ant-radio-button-wrapper-checked,
.ant-btn-primary {
  background: theme("colors.primary-blue.50") !important;
  border-color: theme("colors.primary-blue.50") !important;
}

.ant-btn {
  height: 40px;
}

.ant-btn-default {
  border-color: theme("colors.primary-blue.50") !important;
}

.ant-radio-wrapper-checked {
  .ant-radio-inner {
    background-color: theme("colors.primary-blue.50") !important;
    border-color: theme("colors.primary-blue.50") !important;
  }
}
